<%- include('../partials/header') %>

<section id="show-page">
  <div>Title: </div><div><%= book.title %></div>
  <div>Published Year: </div><div><%= book.publishedYear %></div>
  <div>Genre: </div>
<div><%= book.genre %></div>
  <ul>
</section>

<% if (book.reviews.length) { %>

  <% } else { %>
  
  <% } %>
  
<!-- add to cast form below this comment -->
<section>
<br><br><h2>Reviews</h2>
<form id="add-review-form" method="POST"
  action="/books/<%= book._id %>/reviews">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <br/>
  <label>Rate 1 to 10:</label>
  <input type="text" name="rating">
  <input type="submit" value="Add Review">
</form>

</section>
<%- include('../partials/footer') %>
