<%- include('../partials/header') %>

<section id="show-page">
  <div class = "image"><img src = "<%= book.image%>"></div>
  <div>Title: <%= book.title %></div>
  <div>Published Year: <%= book.publishedYear %></div>
  <div>Genre: <%= book.genre %></div>
  <ul>
</section>

<% if (book.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <!-- <th>Date</th> -->
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% book.reviews.forEach(function(r) { %>
        <tr>
          <td><%= r.comment %></td>
          <td><%= r.rating %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>

<!-- add to cast form below this comment -->
<section>
<br><br><h2>Reviews</h2>
<form id="add-review-form" method="POST"
  action="/books/<%= book._id %>/reviews">
  <label>Review:</label>
  <textarea name="comment"></textarea>
  <br/>
  <label>Rate 1 to 10:</label>
  <input type="text" name="rating"><br/><br/>

  <input type="submit" value="Add Review">
</form>

</section>
<%- include('../partials/footer') %>
